<header>
  <div class="logo">
    <img src="../assets/pizza.svg" alt="" class="logo">
  </div>
  <div class="options">
    <ul>
      <li><a href="#" routerLink="/">HOME</a><img src="../assets/up-and-down.svg" alt="" class="arrow-icon"></li>
      <li><a href="#" routerLink="/">FEATURES</a><img src="../assets/up-and-down.svg" alt="" class="arrow-icon"></li>
      <li><a href="#" routerLink="/">BLOG STYLES<img src="../assets/up-and-down.svg" alt="" class="arrow-icon"></a></li>
      <li><a href="#" routerLink="/">MEGA MENU<img src="../assets/up-and-down.svg" alt="" class="arrow-icon"></a></li>
      <li><a href="#" routerLink="/">SHOP<img src="../assets/up-and-down.svg" alt="" class="arrow-icon"></a></li>
    </ul>
    <div class="right-icons">
      <img src="../assets/flash.svg" alt="" class="icons-all">
      <img src="../assets/loupe.svg" alt="" class="icons-all">
      <img src="../assets/share.svg" alt="" class="icons-all">
      <img src="../assets/bookmark.svg" alt="" class="icons-all">
    </div>
  </div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>