body{
    margin: 0;
    padding: 0;
    font-family: 'lato';
}

header{
    background-color:#EAECEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8rem;
    box-sizing: border-box;
    border-bottom: 1px solid ;
}
.logo{
    width: 3rem;
    cursor: pointer;
}
.logo:active { 
    transform: scale(0.90);
}
.options{
    font-weight: bold;
    display: flex;
    font-size: 0.75rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li{
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
}
li:active { 
    transform: scale(0.90);
}

a{
    text-decoration: none;
    color: black;
}

.right-icons{
    display: flex;
    padding: 1rem 0;
}
.icons-all:active { 
    transform: scale(0.90);
}

.arrow-icon{
    width: 0.5rem;
}

.icons-all{
    width: 0.75rem;
    padding: 0 0 0 1rem;
}

