<main *ngIf="new_brews">
    <!-- <ul *ngIf="brews"> 
        <li *ngFor ="let brew of brews">{{ brew.name }}</li>
    </ul> --> 
        <div class="box output" *ngFor= "let brew of new_brews">
            <p class="">Name: {{ brew.name }} <br></p>
            <p class="">Type: {{ brew.brewery_type }}</p>
        </div>
    
</main>

<footer>
    <div class="text">
        <div class="subs">Food</div>
        <div class="updated">ingredient!</div>
    </div>
    <div class="search">
        <input type="text" placeholder="Enter here">
        <button >Search</button>
    </div>
</footer>